.movie-card-section {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  row-gap: 80px;
  flex-direction: column;
}

.movie-card-section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 30px;
  grid-auto-rows: auto;
}

.movie-card-section__view-more {
  align-self: center;
  width: 320px;
  height: 36px;
  border: 1px solid #424242;
  border-radius: 6px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .movie-card-section__list {
    column-gap: 30px;
    row-gap: 36px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 632px) {
  .movie-card-section {
    margin-top: 50px;
  }
  
  .movie-card-section__list {
    gap: 16px;
    grid-template-columns: 100%;
  }
  
  .movie-card-section__view-more {
    width: 240px;
  }
}

.movie-card-section__not-found-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-card-section__not-found-image {
  margin-bottom: 20px;
  width: 130px;
  height: 130px;
  background-image: url('../../images/icons/cry.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

