._link {
  margin: 0 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  transition: ease-out .2s;
}

._link:hover {
  transition: ease-in .1s;
  opacity: .8;
}

@media screen and (max-width: 544px) {
  ._link {
    font-size: 12px;
    line-height: 15px;
  }
}

/* ---=== AUTH PAGES ===--- */
.sign__inputs-container {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  width: 100%;
  box-sizing: content-box;
  flex-direction: column;
  gap: 20px;
}

.sign__input-container {
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.sign-input__error {
  /*text-align: center;*/
  position: absolute;
  display: flex;
  align-items: center;
  height: 20px;
  bottom: -20px;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.sign__input {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  background-color: #2F2F2F;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.sign__input_accent {
  color: #EE3465;
}