.logo {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-image: url('../../images/logo_2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


