.sign-page {
  margin: 70px auto 0;
  width: 396px;
  display: flex;
  flex-direction: column;
  height: 560px;
}

.sign__form {
  position: relative;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.sign__inputs-container {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  width: 100%;
  box-sizing: content-box;
  flex-direction: column;
  gap: 20px;
}

.sign__input-container {
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.sign-input__error {
  position: absolute;
  display: flex;
  align-items: center;
  height: 20px;
  bottom: -20px;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.sign__input {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  background-color: #2f2f2f;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.sign__input_accent {
  color: #ee3465;
}

.sign__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.sign__link {
  margin: 0 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
}

@media screen and (max-width: 544px) {
  .sign__link {
    font-size: 12px;
    line-height: 15px;
  }
}

.sign__hint {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 16px;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

.sign__button {
  position: absolute;
  bottom: 33px;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: #4285f4;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.sign__button_disabled {
  background-color: transparent;
  border: 1px solid #8b8b8b;
  color: #8b8b8b;
}

.sign__button_disabled:hover {
  transition: none;
  opacity: 1;
  cursor: unset;
}

.signInputErrorClass {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 95px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .sign-page {
    margin-top: 232px;
  }
}

@media screen and (max-width: 544px) {
  .sign-page {
    height: 100vh;
    min-height: 635px;
    max-width: 81vw;
    margin-top: 0;
    padding-top: 56px;
    box-sizing: border-box;
  }
  
  .sign-page__head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sign__title {
    margin-top: 48px;
    margin-bottom: 82px;
  }
  
  .sign__hint {
    bottom: 30px;
    font-size: 12px;
    line-height: 15px;
  }
  
  .sign__button {
    bottom: 59px;
    font-size: 12px;
    line-height: 15px;
  }
}