@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

html,
body,
.container {
  background-color: #202020;
  height: 100%;
  overflow: auto;
}

.container {
  scrollbar-gutter: stable;
}

/* ----==== DEFAULT STYLES RESET ====---- */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

/* ----==== SHARED STYLES ====---- */
._wrapper {
  margin: 0 auto;
  min-width: 100%;
  max-width: 1140px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  ._wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 544px) {
  ._wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}

._button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: ease-out .2s;
}

._button:hover {
  transition: ease-in .1s;
  opacity: .8;
  cursor: pointer;
}

._link {
  transition: ease-out .2s;
}

._link:hover {
  transition: ease-in .1s;
  opacity: .8;
}





