.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-page__title {
  margin: 185px 0 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found-page__description {
  margin-top: 5px;
  margin-bottom: 184px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.not-found-page__back {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
}

@media screen and (max-width: 544px) {
  
  .not-found-page__title {
    margin-top: 200px;
    font-size: 80px;
    line-height: 97px;
  }
  
  .not-found-page__description {
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }
  
  .not-found-page__back {
    font-size: 12px;
    line-height: 15px;
  }
}